
.ml5{
    margin-left: 5px;;
}

.full-width{
    width: 100%;
}

.button-width{
    width: 30%;
}

div.box-width{
    max-width: 40%;
    margin: auto;
    margin-top: 60px;
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}