.center{
    text-align: center;
    max-width: 100%;
    margin: auto;
}

p{
    font-family: Lato;
}

/* Table Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table-width{
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
}

.center{
    margin: auto;
}