<div class="box-width">
    <mat-toolbar color="primary">
      <span class="title-center"> WELCOME BACK.. LOGIN HERE.!! </span>
    </mat-toolbar>

    <div class="content">
        <mat-card class="mat-elevation-z4">
          <form>
            <mat-card-content>
              <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field class="full-width" appearance="outline" >
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Enter UserName" name="username" [(ngModel)]="username" required>
                            </mat-form-field><br>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
              </table>
            </mat-card-content>

            <mat-card-actions class="d-flex justify-content-evenly">
                <button class="btnClass w-25" mat-raised-button color="primary" (click) = handleLogin() routerLink="createDefect">
                  Login
                </button>
                <button  type="reset" class="ml20 w-25" mat-raised-button color="accent"> 
                    RESET 
                </button>
            </mat-card-actions>

            <mat-card-footer>
              <mat-progress-bar mode="indeterminate">das</mat-progress-bar>
              <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
            </mat-card-footer>

          </form>
        </mat-card>
    </div>
</div>

